.idea
.idea/**
__pycache__
__pycache__/**
build
build/**
Compilation++
Compilation++/**
Compilation++.zip
Compilation++ Debug
Compilation++ Debug/**
Compilation++ Debug.zip
pyinstaller.txt
tracklist.txt
other
other/**
venv
venv/**
tracklist
tracklist/**
ffmpeg.exe
youtube-dlp.exe