.idea
.idea/**
.vscode
.vscode/**
__pycache__
__pycache__/**
build
build/**
Compilation++
Compilation++/**
Compilation++.zip
Compilation++ Debug
Compilation++ Debug/**
Compilation++ Debug.zip
pyinstaller.txt
tracklist.txt
other
other/**
venv
venv/**
tracklist
tracklist/**
ambience
ambience/**
ffmpeg.exe
youtube-dlp.exe
big_audio.mp3
normalized_audio.mp3
concat.txt
finished.mp4
*.mp4
thumbnail.png