altgraph==0.17
certifi==2020.12.5
chardet==4.0.0
feedparser==6.0.2
ffmpeg==1.4
ffmpeg-python==0.2.0
ffpb==0.4.1
future==0.18.2
idna==2.10
iso8601==0.1.14
mutagen==1.45.1
pefile==2019.4.18
popen==0.1.20
progress==1.5
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
reader==1.16
requests==2.25.1
ruamel.appconfig==0.5.5
ruamel.std.argparse==0.8.3
sgmllib3k==1.0.0
tqdm==4.60.0
typing-extensions==3.7.4.3
urllib3==1.26.4
youtube-dlc==2020.11.11.post3
